<header>
  <div class="container">
    <div class="header-container__body">
      <div class="header-menu__left">
        <ul>
          <li><a href="#">головна</a></li>
          <li><a href="#">каталог</a></li>
          <li><a href="#">часті запитання</a></li>
        </ul>
      </div>
      <div class="header-menu__right">
        <ul>
          <li><a href="#">опалата і доставка</a></li>
          <li><a href="#">контакти</a></li>
          <li>
            <a href="#">
              <img src="/basket.svg" alt="Logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
